/vendor
/node_modules
/.idea
/.vscode
/.phpunit.cache
/.env
/public/build
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/vertex-cache/
/storage/app/*.sqlite
/storage/app/installed.lock
/storage/app/security/
/bootstrap/cache/*.php
/tools/
/database/*.sqlite
!.gitkeep
/flatsome-main/
/forminator/
/breakdance/
/.kilo/
/public/uploads/

